doctype html
html
    head
        title= "Buds Bank || Forget Password"
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    body
        div(class="container-fluid" style="background-image: url('http://165.22.8.5:3000/images/ic_bg.png'); background-repeat: repeat; min-height: 100%")
            div(class="row" style="padding-top: 2%")
                div(class="col-lg-4")
                div(class="col-lg-4" style="text-align: center")
                    img(src="http://165.22.8.5:3000/images/logo_small.png" alt="Logo Image" height="120" width="120")
                    h3(style="text-align: center; color: white; margin-top: 5%") Change Password
                div(class="col-lg-4")
            div(class="row" style="margin-top: 3%; height: 1500px")
                div(class="col-lg-4")
                div(class="col-lg-4")
                    form(method="POST" action="/budsbankWebupdated/updatePassword" id="my-form")
                        div(class="form-group")
                            label(style="color: white") Password
                            input(type="hidden" name="user_id" id="user-id" value="#{user}")
                            input(type="password" name="password" id="password" class="form-control")
                            p(id="error-pass" style="color: red; display: none")

                        div(class="form-group")
                            label(style="color: white") Confirm Password
                            input(type="password" id="confirm-password" class="form-control")
                            p(id="error-conf-pass" style="color: red; display: none")
                    button(type="button" onclick="submitForm()" class="btn btn-primary" style="background-color: #F7DCE1; color: black; border-color: #F7DCE1") Change
                div(class="col-lg-4")

script.
    function submitForm(){
        var pass = $('#password').val();
        var confPass = $('#confirm-password').val();
        if (pass.length === 0){
            $('#password').css('border-color', 'red');
            $('#error-pass').css('display', 'block');
            $('#error-pass').text("Password required");
        }else if(confPass.length === 0){
            $('#confirm-password').css('border-color', 'red');
            $('#error-conf-pass').css('display', 'block');
            $('#error-conf-pass').text("Confirm Password required");
        }else{
            $('#error-pass').css('display', 'none');
            $('#password').css('border-color', 'light-gray');
            $('#confirm-password').css('border-color', 'light-gray');
            $('#error-conf-pass').css('display', 'none');
            $('#my-form').submit();
        }
    }
    $('#password').on('keyup', function () {
       if ($('#password').val().length < 8){
           $('#password').css('border-color', 'red');
           $('#error-pass').css('display', 'block');
           $('#error-pass').text("Password should be of at least 8 characters");
       }else{
           $('#error-pass').css('display', 'none');
           $('#password').css('border-color', 'light-gray');
       }
    });

    $('#confirm-password').on('keyup', function () {
       if ($('#password').val() !== $('#confirm-password').val()){
           $('#confirm-password').css('border-color', 'red');
           $('#error-conf-pass').css('display', 'block');
           $('#error-conf-pass').text("Password does not match");
       } else{
           $('#confirm-password').css('border-color', 'light-gray');
           $('#error-conf-pass').css('display', 'none');
       }
    });


</body>
</html>